.wrapper {
    width: 100%;
    max-height: inherit;
    padding-top: 8px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow-popper);
    border-radius: 8px;
    overflow: hidden auto;
}
