.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    margin-left: 12px;
}
.username,
.full-name {
    width: 107px;
    height: 12px;
    border-radius: 4px;
}
.full-name {
    width: 66px;
}

.avatar,
.username,
.full-name {
    background-color: var(--background-gray-color3);
    background-image: linear-gradient(
        90deg,
        rgba(22, 24, 35, 0) 0%,
        rgba(22, 24, 35, 0.04) 50%,
        rgba(22, 24, 35, 0) 100%
    );
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: loading-animate cubic-bezier(0, 0, 1, 1) 1.5s infinite;
}

@keyframes loading-animate {
    0% {
        background-position-x: 200%;
    }

    100% {
        background-position-x: -150%;
    }
}

// Reponsive
@media (max-width: 1071px) {
    .wrapper {
        justify-content: center;
    }
    .body {
        display: none;
    }
}
