.wrapper {
    flex-shrink: 0;
    width: 356px;
}

.inner-fixed {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    width: inherit;
}

.content {
    padding: 20px 8px 26px;
    // background-color: #ccc;
}

// Customize React-Custom-Scrollbars

.scrollbar-view {
    overflow: hidden scroll !important;
    margin-bottom: 0 !important;
}
.scrollbar-track {
    top: 0;
    bottom: 0;
    right: 3px;
    transition: opacity 0.5s !important;
}
.scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--background-gray-color3);
}

// Discover

.discover-container {
    padding: 8px !important;
    padding-top: 16px !important;

    .title {
        line-height: 20px;
        color: var(--text-gray-color);
        padding-bottom: 16px;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .content {
        padding: 0;
    }

    .btn {
        margin-bottom: 12px;
        margin-left: 0;
        transition: background-color 200ms ease-in-out 0s;
    }
    .btn.hashtag {
        margin-right: 6px;
    }
}

// Footer

.footer-container {
    padding: 16px 0 0 8px !important;
    line-height: 21px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-gray-color2);

    .link-list {
        margin-bottom: 8px;
    }

    .link-item,
    .more {
        display: inline-block;
        line-height: 17px;
        margin: 5px 6px 0 0;
        color: inherit;
    }
    .link-item:hover {
        text-decoration: underline;
    }
}

// Reponsive
@media (max-width: 1071px) {
    .wrapper {
        width: 72px;
    }

    .inner-fixed {
        border-right: 1px solid var(--background-gray-color4);
        box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    }

    .content {
        padding-top: 12px;
    }

    .discover-container,
    .footer-container {
        display: none;
    }
}
